cca-site/index.html
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <title>CCA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
    <link href="layout/styles/extension.css" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">
    <div class="wrapper row1">
        <header class="hoc clear" id="header">
            <div class="fl_left" id="logo">
                <h1><a href="index.html">CCA Eduskills</a></h1></div>
            <nav class="fl_right" id="mainav">
                <ul class="clear">
                    <li class="active"><a href="index-2.html">Home</a></li>
                    <li><a href="#courses-row">Courses</a></li>
                    <li><a href="result.html">Results</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="wrapper bgded overlay" style="background-image:url(&quot;images/clg2.jpg&quot;);">
        <div class="hoc clear" id="pageintro">
            <article class="one_half first"><img src="images/logo_alpha.png"></article>
            <article class="one_half">
                <h2 class="heading">College of<br>Computerized<br>Accountancy</h2>
                <p>100% JOB GUARANTEED</p>
                <footer><a class="btn" href="#contact-row">Register now</a></footer>
            </article>
        </div>
    </div>
    <div class="wrapper row2"  style="height:330px">
        <main class="hoc container clear" id="placed" style="z-index:9;position: relative;">
            <p class="heading font-x3">CONGRATULATIONS! </p><p class="font-x2" style="line-height: 200%"><el id="placed_name"></el> is now <el id="placed_pos"></el> at <el id="placed_comp"></el>. </p>
        </main>
        <canvas id="confetti-holder" style="top:0px;display: block;  position: absolute;  z-index: 1;  pointer-events: none;"></canvas>
    </div>
    <div class="wrapper row3">
        <main class="hoc container clear">
            <div class="group">
                <article class="one_third first">
                    <h6 class="heading font-x2">Our Mission<img class="imgr inspace-5" src="images/mission.png" alt=""></h6>
                    <p>To import Knowledge and training in newer technologies and diverse fascinating fields to young and old, genius and not so intelligent highly educated and not so much at reasonable cost, accessible to any using modern tools to empower individuals.</p>
                </article>
                <article class="one_third second">
                    <h6 class="heading font-x2">Our Vision<img class="imgr inspace-5" src="images/vision.png" alt=""></h6>
                    <p>Quality for LifeStyle, Challange Candidates, Global Career ,Open the Horizons for challenging candidates , Technology Driven Environment, Earnings and Living Standards</p>
                </article>
                <article class="one_third third">
                    <h6 class="heading font-x2">Our Values<img class="imgr inspace-5" src="images/values.png" alt=""></h6>
                    <p>Be accountable ,Work hard and have fun, Strive to learn, Build trust, be honest, Respect and value others, Our Values Engage and embrace diversity</p>
                </article>
            </div>
        </main>
    </div>
    <div class="clear"></div>
    <div class="wrapper row2 center" id="courses-row">
        <section class="hoc container clear">
            <div class="sectiontitle" style="margin-bottom:30px">
                <h6 class="heading font-x2">Courses we shine you..</h6>
                <p>... to the modern market.</p>
            </div>
            <ul class="nospace group services">
                <li class="one_half first fl_right">
                    <article class="infobox">
                        <h6 class="heading"><!-- <i class="fa fa-balance-scale"></i>  --><a href="#">Certified Accounts & Finance Professionals (CAFP)</a></h6>
                        <p>Duration : 1 year .
                            <br>135 hours .
                            <br>Covers topics such as Computerized Accounting techniques , Bussiness Accounting , Tally , ERP , Quickbook , Peach Tree , etc.[…]</p>
                        <footer><a class="btn" href="#contact-row">Syllabus >></a></footer>
                    </article>
                </li>
                <li class="one_half fl_left">
                    <article class="infobox">
                        <h6 class="heading"><a href="#">Certified Accounts & Finance Professionals Plus (CAFP+)</a></h6>
                        <p>Duration : 1 year 6 months.
                            <br>220 hours.
                            <br>All topics in CAFP are coverd with additional topics such as Direct Tax and Goods and Sales Tax[…]</p>
                        <footer><a class="btn" href="#contact-row">Syllabus >></a></footer>
                    </article>
                </li>
            </ul>
            <div class="clear"></div>
        </section>
    </div>
    <div class="wrapper row4" id="contact-row">
        <footer class="hoc clear" id="footer">
            <div class="one_third first">
                <h6 class="heading">Contact</h6>
                <ul class="nospace btmspace-30 linklist contact">
                    <li><i class="fa fa-map-marker"></i>
                        <address>Flat no:108, Eldams Square, Eldams Road, Alwarpet</address>
                    </li>
                    <li><i class="fa fa-phone"></i>+91 93821 75767</li>
                    <li>+91 97916 28095</li>
                    <li><i class="fa fa-envelope-o"></i>cca.alwarpet@brkgroupofcompanies.com</li>
                </ul>
                <ul class="faico clear">
                    <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
            <div class="one_third">
                <h6 class="heading">Visit us at</h6>
                <a href="https://www.google.com/maps/place/Eldams+Square,+Eldams+Rd,+Vannia+Teynampet,+Venus+Colony,+Teynampet,+Chennai,+Tamil+Nadu+600018/@13.0385747,80.2534811,17z/"><img src="images/staticmap.png" alt="Google Map of "></a>
            </div>
            <div class="one_third">
                <h6 class="heading">Write to us now</h6>
                <p class="nospace btmspace-30">Send us your queries , we'll reach back to you</p>
                <form method="post" action="https://formspree.io/ramkumarb1657@gmail.com">
                    <fieldset>
                        <legend>Newsletter:</legend>
                        <input class="btmspace-15" type="text" placeholder="Name">
                        <input class="btmspace-15" type="text" placeholder="Mobile no. or Email id">
                        <input class="btmspace-15" type="textbox" placeholder="Your questions...">
                        <button type="submit" value="submit">Submit</button>
                    </fieldset>
                </form>
            </div>
        </footer>
    </div>
    <div class="wrapper row5">
        <div class="hoc clear" id="copyright">
            <p class="fl_left">Copyright © 2017 - All Rights Reserved -<a href="#">BRK group of companies</a></p>
        </div>
    </div><a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="layout/scripts/jquery.min.js"></script>
    <script src="confetti.min.js"></script>
    <script type="text/javascript">

        var array;

         
        $.getJSON('./placed.json',function(data){
            array = data;//[Math.floor(Math.random() * data.length)];
            next_placed();
            setInterval( next_placed
                    , 4000);
            function next_placed(){
                    //console.log('changes');
                    var random = array[Math.floor(Math.random() * array.length)];
                    $('el').fadeOut(1000,function(){
                            $('el#placed_name').html(random[0]);
                            $('el#placed_pos').html(random[1]);
                            $('el#placed_comp').html(random[2]);
                            $('el').fadeIn(1000);



                    });
                    
                    //setTimeout(next_placed(), 3000);
                }
        });

         //console.log(array[0][0]);
            var canvas = document.getElementsByTagName('canvas')[0];
            //var ctx = canvas.getContext('2d');

            function assignToDiv(){ // this kind of function you are looking for
              dataUrl = canvas.toDataURL();
              document.getElementById('placed').style.background='url('+dataUrl+')'
            }
           // assignToDiv();
        var clientHeight = document.getElementById('placed').clientHeight;
       var confetti = new ConfettiGenerator(
                {"target":"confetti-holder",
                    "max":"80",
                    "size":"1",
                    "animate":true,
                    "props":["square","triangle","line"],
                    "colors":[[165,104,246],[230,61,135],[0,199,228],[253,214,126]],
                    "clock":"30",
                    "height": 330
                }
             );
        confetti.render();
    </script>
    <style type="text/css">
        el{
            color :green;
        }
    </style>
    <script src="layout/scripts/jquery.backtotop.js"></script>
    <script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>

</html>

cca-site/index.pug
doctype html
html
  head
    meta(http-equiv='content-type', content='text/html;charset=UTF-8')
    title CCA
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
    link(href='layout/styles/layout.css', rel='stylesheet', type='text/css', media='all')
    link(href='layout/styles/extension.css', rel='stylesheet', type='text/css', media='all')
  body#top
     
    .wrapper.row1
      header#header.hoc.clear

        #logo.fl_left
          h1
            a(href='index.html') CCA Eduskills
        nav#mainav.fl_right
          ul.clear
            li.active
              a(href='index-2.html') Home
            li
              a(href='#courses-row') Courses
            li
              a(href='result.html') Results

    .wrapper.bgded.overlay(style='background-image:url("images/clg2.jpg");')
      #pageintro.hoc.clear

        article.one_half.first
          img(src='images/logo_alpha.png')
        article.one_half
          h2.heading
            | College of
            br
            | Computerized
            br
            | Accountancy
          p 100% JOB GUARANTEED
          footer
            a.btn(href='#contact-row') Register now
    .wrapper.row2
      main.hoc.container.clear
        p.heading.font-x2 Congratulations to 

    .wrapper.row3
      main.hoc.container.clear
        .group
          article.one_third.first
            h6.heading.font-x2
              | Our Mission
              img.imgr.inspace-5(src='images/mission.png', alt='')
            p To import Knowledge and training in newer technologies and diverse fascinating fields to young and old, genius and not so intelligent highly educated and not so much at reasonable cost, accessible to any using modern tools to empower individuals.
          article.one_third.second
            h6.heading.font-x2
              | Our Vision
              img.imgr.inspace-5(src='images/vision.png', alt='')
            p Quality for LifeStyle, Challange Candidates, Global Career ,Open the Horizons for challenging candidates , Technology Driven Environment, Earnings and Living Standards
          article.one_third.third
            h6.heading.font-x2
              | Our Values
              img.imgr.inspace-5(src='images/values.png', alt='')
            p Be accountable ,Work hard and have fun, Strive to learn, Build trust, be honest, Respect and value others, Our Values Engage and embrace diversity
    
    .clear
    
    .wrapper.row2.center#courses-row
      section.hoc.container.clear
    
        .sectiontitle(style='margin-bottom:30px')
          h6.heading.font-x2 Courses we shine you..
          p ... to the modern market.
        ul.nospace.group.services
          li.one_half.first.fl_right
            article.infobox
              h6.heading
                // <i class="fa fa-balance-scale"></i>  
                a(href='#') Certified Accounts & Finance Professionals (CAFP)
              p
                | Duration : 1 year .
                br
                | 135 hours .
                br
                | Covers topics such as Computerized Accounting techniques , Bussiness Accounting , Tally , ERP , Quickbook , Peach Tree , etc.[…]
              footer
                a.btn(href='#contact-row') Syllabus >>
          li.one_half.fl_left
            article.infobox
              h6.heading
                a(href='#') Certified Accounts & Finance Professionals Plus (CAFP+)
              p
                | Duration : 1 year 6 months.
                br
                | 220 hours.
                br
                | All topics in CAFP are coverd with additional topics such as Direct Tax and Goods and Sales Tax[…]
              footer
                a.btn(href='#contact-row') Syllabus >>
    
        .clear
    
    .wrapper.row4#contact-row
      footer#footer.hoc.clear
    
        .one_third.first
          h6.heading Contact
          ul.nospace.btmspace-30.linklist.contact
            li
              i.fa.fa-map-marker
              address Flat no:108, Eldams Square, Eldams Road, Alwarpet
            li
              i.fa.fa-phone
              | +91 93821 75767
            li +91 97916 28095
            li
              i.fa.fa-envelope-o
              | cca.alwarpet@brkgroupofcompanies.com
          ul.faico.clear
            li
              a.faicon-facebook(href='#')
                i.fa.fa-facebook
            li
              a.faicon-twitter(href='#')
                i.fa.fa-twitter
            li
              a.faicon-google-plus(href='#')
                i.fa.fa-google-plus
        .one_third
          h6.heading Visit us at
          iframe(frameborder='0', style='vertical-align: middle;', src='https://www.google.com/maps/embed/v1/place?key=AIzaSyAeou1czfJ1DNa3F5GZkp6KsjxDQuXZgOA&q=Eldams+square,Alwarpet', allowfullscreen='')
        .one_third
          h6.heading Write to us now
          p.nospace.btmspace-30 Send us your queries , we'll reach back to you
          form(method='post', action='https://formspree.io/ramkumarb1657@gmail.com')
            fieldset
              legend Newsletter:
              input.btmspace-15(type='text', placeholder='Name')
              |  
              input.btmspace-15(type='text', placeholder='Mobile no. or Email id')
              |  
              input.btmspace-15(type='textbox', placeholder='Your questions...')
              button(type='submit', value='submit') Submit

    .wrapper.row5
      #copyright.hoc.clear
      
        p.fl_left
          | Copyright © 2017 - All Rights Reserved -
          a(href='#') BRK group of companies
    a#backtotop(href='#top')
      i.fa.fa-chevron-up
    // JAVASCRIPTS 
    script(src='layout/scripts/jquery.min.js')
    script(src='layout/scripts/jquery.backtotop.js')
    script(src='layout/scripts/jquery.mobilemenu.js')
